name: Require Checker
on: [ push, pull_request ]
jobs:
  composer-require-checker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup PHP with composer require checker
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1
          tools: composer-require-checker

      - name: Cache composer dependencies
        uses: actions/cache@v3
        with:
          path: ~/.cache/composer
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Install dependencies
        run: composer install --no-interaction

      - name: Run composer require checker
        run: composer-require-checker check
