name: Test
on: [ push, pull_request ]
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version:
          - '8.0'
          - '8.1'
        dependencies:
          - 'locked'
          - 'latest'

    name: PHP ${{ matrix.php-version }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP, with composer and extensions
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          # TODO: Remove next lint to enable memcached after that issue is fixed: https://github.com/php-memcached-dev/php-memcached/issues/477
          extensions: :memcached
          coverage: none

      - name: Cache composer dependencies
        uses: actions/cache@v3
        with:
          path: ~/.cache/composer
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Install dependencies (locked)
        if: ${{ matrix.dependencies == 'locked' }}
        run: composer install --no-interaction

      - name: Install dependencies (latest)
        if: ${{ matrix.dependencies == 'latest' }}
        run: composer update --no-interaction

      - name: Setup problem matchers for PHP
        run: echo "::add-matcher::${{ runner.tool_cache }}/php.json"

      - name: Setup problem matchers for PHPUnit
        run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Test with PHPUnit
        run: make unit
